%h1 Listing suggestions

%table
  %tr
    %th Hours
    %th Minutes
    %th Seconds
    %th Title
    %th Description
    %th Completed
    %th
    %th
    %th

  - @suggestions.each do |suggestion|
    %tr
      %td= suggestion.hours
      %td= suggestion.minutes
      %td= suggestion.seconds
      %td= suggestion.title
      %td= suggestion.description
      %td= suggestion.completed
      %td= link_to 'Show', suggestion
      %td= link_to 'Edit', edit_suggestion_path(suggestion)
      %td= link_to 'Destroy', suggestion, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Suggestion', new_suggestion_path
